body {
  background: #fff;
  color: #000;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

#wrap {
  width: 760px;
  overflow: auto;
  margin: 20px auto;
  border: 3px solid #000;
  text-align: justify;
  background: #fff;
}

#header {
  background: #fff;
  text-align: center;
  border-bottom: 3px solid #000;
  padding: 20px;
}

#header h1 {
  font-size: 28px;
  margin: 0;
}

#header h2 {
  font-size: 12px;
  color: #666;
  opacity: 0.5;
  font-style: italic;
}

#content h3 {
  font-size: 12px;
  color: #666;
  opacity: 0.5;
  font-style: italic;
}

#content {
  float: left;
  width: 520px;
  padding: 20px;
}

#content img.left {
  float: left;
  margin: 5px 10px 5px 0;
  border: 1px dashed #000;
}

#content img.right {
  float: right;
  margin: 5px 0 5px 10px;
  border: 1px dashed #000;
}

#sidebar {
  float: right;
  width: 180px;
  background: #000;
  color: #fff;
  padding: 10px;
}

#sidebar {
float: right;
width: 180px;
background: #000;
color: #fff;
padding: 10px;
}

#sidebar ul.main-nav {
list-style-type: none;
padding: 0;
margin: 0;
}

#sidebar ul.main-nav li a {
display: block;
background: #333;
color: #fff;
text-decoration: none;
padding: 5px;
margin: 5px 0;
}

#sidebar ul.main-nav li a.white-button {
background: #fff;
color: #000;
}

#sidebar ul.main-nav li a:hover {
background: #666;
color: #fff;
}

#sidebar h3 {
color: #666;
font-size: 12px;
font-weight: normal;
border-bottom: 1px dashed #666;
padding-bottom: 5px;
margin-top: 20px;
margin-bottom: 10px;
}

#sidebar p.sidebar-links {
text-align: center;
}
#sidebar p.sidebar-links a {
color: #369;
text-decoration: none;
}
#sidebar p.sidebar-links a:hover {
text-decoration: underline;
}

#sidebar ul.link-list {
padding-left: 20px;
margin-top: 10px;
}
#sidebar ul.link-list li a {
color: #369;
text-decoration: none;
}
#sidebar ul.link-list li a:hover {
text-decoration: underline;
}

#footer {
  clear: both;
  border-top: 3px solid #000;
  text-align: center;
  font-size: 11px;
  padding: 10px;
}
